.container,#main{
   display: grid;
  grid-template-columns: 500px 100px;
}
.container#sub {
  display: grid;
  /*grid-template-columns: repeat(9, 1fr 1fr 1fr);*/
  grid-template-columns: 100px 300px;
}
.item {
  border: 1px;
}

@media (max-width: 485px) {
  /* 작을때 */
  .container {
    zoom: 0.9;
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
  }
}
